html{color:#fff; font: 14px/18px Verdana;}
#wrap{width:1200px;	margin:0 auto;}
#header{margin:0; padding:0; border:0;}
#header_left{ width:660px; height:50px;	float:left;}
#navbar{ width:540px; float:left;}
#home{
	width:230px; height:50px; padding-right:20px; margin:0;
	float:left;	text-align:right; background-color:#006FBA;
}
#home a{
	color:#fff;	font-size:40px;
	line-height:40px; text-decoration:none;
}
#page_title{
	width:390px; height:50px; float:left;
	margin:0; padding-left:20px; font-size:40px;
	line-height:40px; background-color:#212121;
}
#header ul{
	height:50px; padding:0 0 0 74px; margin:0;
	float:left;	background-color:#212121;
}
#header ul li{
	float:left;	height:37px; display:inline;
	padding:13px 18px 0 18px; margin:0;	border-left:1px solid #777;
}
a#last{
	background-color:#888;
	width:74px;
	padding:3px 5px; border-radius:5px;
}
a:hover#last{
	background-color:#439016;
}
#header ul li a{color:#fff;	font-size:15px;	line-height:20px; text-decoration:none;}
#content{
	width:1200px; color:#000;
	background-color:#fff;
}
#list{
	
}
#list ul{
	position:fixed;
	left:150px;
	top:100px;
}

#list ul li{
	width:120px;
	margin:5px;
	padding:10px 19px 10px 29px;
	border:1px solid #E5F0F8;
	text-align: left;
}
#list ul li a{
	line-height:15px;
	text-decoration:none;
	color:#0084C7;
}
#list ul li a:hover{
	text-decoration:underline;
	color:#0084B0;
}
#list ul#side_menu{
	position:fixed;
	left:150px;
	top:350px;
}
#list ul#side_menu li{
	width:120px; font-size:13px;
	padding:2px 20px 2px 20px;
	text-align: left;
}
#list ul#side_menu li a{
	text-decoration:none;
	color:#555;
	line-height: 14px;
}
#main_content{
	float:left;
	position:relative;
	left:120px;
	width:1020px;
}
#footer{
	width:1200px;
	height:50px;
	float:left;
}
#create_list{
	background-color:#006FBA;
	float:left;
	height:50px;
	width:400px;
	font-size:30px;
	line-height:45px;
	text-align: right;
	padding-right:50px;
	margin:0;
}
#provide_case{
	height:50px;
	width:500px;
	float:left;
	background-color:#10486D;
	margin:0; padding:0;
}
.provide{
	float:left;
	font-size:12px;
	width:220px;
	margin:0; padding:4px 0 0 30px;
}
#more_info{
	color:#000;
	float:left;
	height: 50px;
	width:250px;
	background-color:#10486D;
	text-align: right;
}
#more_info a{
	margin-right:70px;
	padding:3px 8px 3px 30px;
	border-radius:5px 5px 5px 5px;
	text-decoration:none;
	font-size:14px;
	font-weight: bold;
	color:#10486D;
	line-height:50px; vertical-align: middle;
	background: #fff url("play.png") no-repeat 1px center;
}
#more_info a:hover{
	color:#006FBA;
}
.sub_icon{
	vertical-align: middle;
}